<mat-card-content>
    <mat-card class="pa-2 mb-3" *ngIf="event">


        <!-- heading -->
        <div class="app-heading-wrapper pb-2">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
                <h1>
                    {{ event.name }}
                    <span class="subtitle">
                        {{ 'EVENT' | translate }}
                    </span>
                </h1>
                <div>
                    <button mat-icon-button title="{{ 'NEW' | translate }}"  [routerLink]="['/calendar/form']">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    <button mat-icon-button title="{{ 'RETURN_TO_CALENDAR' | translate }}"  [routerLink]="['/calendar']">
                        <mat-icon>event</mat-icon>
                    </button>
                </div>
            </div>
            <hr>
        </div>


        <div class="text-df">
            <strong>{{ 'START_DATE' | translate }}:</strong>
            <p>
                {{ dateProvider.fromUTCtoTZ(event.start_datetime) | amDateFormat: 'YYYY-MM-DD h:mm a' }}
            </p>
        </div>

        <div class="text-df">
            <strong>{{ 'END_DATE' | translate }}:</strong>
            <p>
                {{ dateProvider.fromUTCtoTZ(event.end_datetime) | amDateFormat: 'YYYY-MM-DD h:mm a' }}
            </p>
        </div>

        <div class="text-df" *ngIf="event.is_private">
            <strong>{{ 'IS_PRIVATE' | translate }}:</strong>
            <p>{{ 'YES' | translate }}</p>
        </div>

        <div class="text-df" *ngIf="!event.is_private">
            <strong>{{ 'HOTEL' | translate }}:</strong>
            <p>
                <span *ngIf="event.hotel">{{ event.hotel.name }}</span>
                <span *ngIf="!event.hotel">{{ 'ALL_HOTELS' | translate }}</span>
            </p>
        </div>

        <div class="text-df">
            <strong>{{ 'CATEGORY' | translate }}:</strong>
            <p>
                <span *ngIf="event.category">{{ event.category.name }}</span>
                <span *ngIf="!event.category">{{ 'UNCATEGORIZED' | translate }}</span>
            </p>
        </div>

        <div class="text-df">
            <strong>{{ 'DESCRIPTION' | translate }}:</strong>
            <p class="app-render-nl">
                {{ event.description }}
            </p>
        </div>

        <!-- created_at and updated_at section -->
        <div class="row-dates-wrapper pt-2">
            <hr>
            <div class="pt-1 pb-1">
                <p>
                    <strong>{{ 'CREATED_AT' | translate}}: </strong>
                    {{ dateProvider.fromUTCtoTZ(event.created_at) | amDateFormat: 'YYYY-MM-DD h:mm a' }}
                </p>
                <p>
                    <strong>{{ 'UPDATED_AT' | translate}}: </strong>
                    {{ dateProvider.fromUTCtoTZ(event.updated_at) | amDateFormat: 'YYYY-MM-DD h:mm a' }}
                </p>
            </div>
            <hr>
        </div>


        <!-- bottom actions -->
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start" class="pt-2 app-bottom-actions">
            <button mat-raised-button mat-button-sm color="primary"
                    [routerLink]="['/calendar/form/' + event.id]">
                {{ 'EDIT' | translate }}
            </button>

            <button mat-raised-button mat-button-sm color="warn"
                    (click)="delete(event)">
                {{ 'DELETE' | translate }}
            </button>
        </div>

    </mat-card>
</mat-card-content>


<app-loader [loading]="loading"></app-loader>