<mat-card-content>
    <mat-card class="pa-2 mb-3">


        <!-- heading -->
        <div class="app-heading-wrapper pb-2">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
                <h1>
                    {{ 'MAHGAZINE_ARTICLES' | translate }}
                    <span class="subtitle" *ngIf="edition">
                        {{ 'EDITION' | translate }}:
                        {{ edition.name }}
                    </span>
                    <span class="subtitle" *ngIf="section">
                        {{ 'SECTION' | translate }}:
                        {{ section.name }}
                    </span>
                </h1>
                <div>
                    <button mat-icon-button [routerLink]="['/admin/mahgazine/edition/' + edition_id + '/sections/' + section_id + '/articles/form']">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </div>
            </div>
            <hr>
        </div>

        <!-- search actions -->
        <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="15px">
            <mat-form-field style="width: 100%;">
                <input matInput #filter placeholder="{{ 'SEARCH' | translate }}" autocomplete="off">
            </mat-form-field>

            <div fxLayout="row">
                <button mat-icon-button (click)="_dataSource.trashToggle()" title="{{ 'RECYCLE_BIN' | translate }}">
                    <mat-icon color="{{_db.trash ? 'primary' : ''}}">delete_sweep</mat-icon>
                </button>
                <button mat-icon-button (click)="_dataSource.clear()" title="{{ 'RESET_SEARCH' | translate }}">
                    <mat-icon >autorenew</mat-icon>
                </button>
            </div>
        </div>

        <mat-table [dataSource]="_dataSource" matSort >

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>
                    #
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ row.id }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>
                    {{ 'TITLE' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ row.name }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="order">
                <mat-header-cell *matHeaderCellDef>
                    {{ 'ORDER' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a (click)="orderUp(row.id)">
                        <mat-icon class="app-icon-small">expand_less</mat-icon>
                    </a>

                    <a (click)="orderDown(row.id)">
                        <mat-icon class="app-icon-small">expand_more</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="created_at">
                <mat-header-cell *matHeaderCellDef>
                    {{ 'CREATED_AT' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ dateProvider.fromUTCtoTZ(row.created_at) | amDateFormat: 'YYYY-MM-DD' }} <br>
                    {{ dateProvider.fromUTCtoTZ(row.created_at) | amDateFormat: 'h:mm a' }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-xs-right">
                    <span class="app-spacer"></span>

                    <div *ngIf="!row.deleted_at">
                        <button mat-icon-button [routerLink]="['/admin/mahgazine/edition/' + edition_id + '/sections/' + section_id + '/articles/form/' + row.id]">
                            <mat-icon class="app-icon-small">edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete(row)">
                            <mat-icon class="app-icon-small">delete</mat-icon>
                        </button>
                    </div>

                    <div *ngIf="row.deleted_at">
                        <button mat-icon-button (click)="restore(row)" title="{{ 'RESTORE' | translate }}">
                            <mat-icon class="app-icon-small">restore</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete(row, true)" title="{{ 'DELETE_COMPLETELY' | translate }}">
                            <mat-icon class="app-icon-small">delete_forever</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-grey-200"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator
                #paginator
                [pageIndex]="_db.pageIndex"
                [length]="_db.totalItems"
                [pageSizeOptions]="[20, 50, 100, 150, 200, 10]">

        </mat-paginator>
    </mat-card>

</mat-card-content>