<mat-card-content>
    <mat-card class="pa-2 mb-3">


        <!-- heading -->
        <div class="app-heading-wrapper pb-2">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
                <h1>{{ 'DAHSBOARD' }}</h1>
            </div>
            <hr>
        </div>


        <div class="text-df">
            <h3>
                <a [href]="brandsite_url" target="_blank">{{ 'GO_TO_BRANDSITE' | translate }}</a>
            </h3>
            <hr>
            <h3>
                <a [href]="mahgazine_url" target="_blank">{{ 'GO_TO_MAHGAZINE' | translate }}</a>
            </h3>
        </div>


    </mat-card>
</mat-card-content>