

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">

    <!--<mat-card>
        <app-folder-tree></app-folder-tree>
    </mat-card>-->

    <mat-card class="pt-1 width-100">
        <mat-card-content>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxLayoutAlign="space-between">
                <app-folder-breadcrumbs></app-folder-breadcrumbs>
                <app-folder-actions></app-folder-actions>
            </div>

            <app-folder-folders-list></app-folder-folders-list>

            <app-folder-files-list></app-folder-files-list>

            <div class="mt-1"></div>


        </mat-card-content>
    </mat-card>

</div>