<mat-card-content>
    <mat-card class="pa-2 mb-3">

        <!-- heading -->
        <div class="app-heading-wrapper pb-2 mb-1">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
                <h1>{{ 'PROFILE' |translate }}</h1>
                <div>
                    <button mat-icon-button title="{{ 'GO_TO_ARCHIVED' | translate }}"  [routerLink]="['/tasks/archive']">
                        <mat-icon>archive</mat-icon>
                    </button>
                    <button mat-icon-button title="{{ 'GO_TO_CALENDAR' | translate }}"  [routerLink]="['/calendar']">
                        <mat-icon>event</mat-icon>
                    </button>
                </div>
            </div>
            <hr>
        </div>


        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">


            <mat-card-title class="mat-text-primary">
                {{ 'AUTHENTICATION_DATA' | translate }}
            </mat-card-title>

            <mat-form-field>
                <input matInput placeholder="{{ 'EMAIL' | translate }}" [formControl]="form.get('email')">
            </mat-form-field>
            <small *ngIf="form.get('email').hasError('required') && form.get('email').touched" class="mat-text-warn">
                {{ 'FIELD_REQUIRED' | translate }}
            </small>
            <small *ngIf="form.get('email').hasError('email') && form.get('email').touched" class="mat-text-warn">
                {{ 'EMAIL_INVALID' | translate }}
            </small>

            <div class="app-checkbox-container">
                <mat-checkbox [formControl]="form.get('settings')['controls']['update_password']" color="primary">
                    {{ 'UPDATE_PASSWORD_QUESTION' | translate }}
                </mat-checkbox>
            </div>

            <div *ngIf="form.get('settings')['controls']['update_password'].value">
                <mat-form-field>
                    <input type="password" matInput placeholder="{{ 'PASSWORD' | translate }}" [formControl]="form.get('password')">
                </mat-form-field>
                <small *ngIf="form.get('password').hasError('required') && form.get('password').touched" class="mat-text-warn">
                    {{ 'FIELD_REQUIRED' | translate }}
                </small>
            </div>




            <mat-card-title class="mat-text-primary mt-3">
                {{ 'PROFILE_DATA' | translate }}
            </mat-card-title>

            <mat-form-field>
                <input matInput placeholder="{{ 'NAME' | translate }}" [formControl]="form.get('profile')['controls']['name']">
            </mat-form-field>
            <small *ngIf="form.get('profile')['controls']['name'].hasError('required') && form.get('profile')['controls']['name'].touched" class="mat-text-warn">
                {{ 'FIELD_REQUIRED' | translate }}
            </small>

            <mat-form-field>
                <input matInput placeholder="{{ 'LASTNAME' | translate }}" [formControl]="form.get('profile')['controls']['lastname']">
            </mat-form-field>
            <small *ngIf="form.get('profile')['controls']['lastname'].hasError('required') && form.get('profile')['controls']['lastname'].touched" class="mat-text-warn">
                {{ 'FIELD_REQUIRED' | translate }}
            </small>

            <mat-form-field>
                <input matInput placeholder="{{ 'PHONE' | translate }}" [formControl]="form.get('profile')['controls']['phone']">
            </mat-form-field>

            <div class="mt-3" *ngIf="!id || (id && user && user.profile)">
                <app-address
                        [parentForm]="form"
                        (addressForm)="form.get('profile')['controls']['address'].patchValue( $event.value )">
                </app-address>
            </div>




            <mat-card-title class="mt-3 mat-text-primary">
                {{ 'TIMEZONE' | translate }}
            </mat-card-title>

            <mat-form-field>
                <mat-select
                        placeholder="{{ 'TIMEZONE' | translate }}"
                        [formControl]="form.get('profile')['controls']['timezone']">
                    <mat-option *ngFor="let timezone of timezones" [value]="timezone">
                        {{ timezone }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="app-checkbox-container" *ngIf="appProvider.timezone">
                <mat-checkbox
                        color="primary"
                        [formControl]="form.get('profile')['controls']['use_local_timezone']">
                    {{ 'USE_LOCAL_TIMEZONE' | translate }}: <b>{{ localTimezone }}</b>
                </mat-checkbox>
            </div>



            <!-- bottom actions -->
             <hr class="mt-3">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start" class="pt-2 app-bottom-actions">
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                    {{ (!id) ? ('ADD' | translate) : ('UPDATE' | translate) }}
                </button>
            </div>


        </form>
    </mat-card>
</mat-card-content>

<app-loader [loading]="loading"></app-loader>