:host{
  .actions-container{
    position:relative;
    top: -10px;
    right: 7px;
  }

  .search-button-container{
    position: relative;
    display: inline-block;
  }

  .filesystem-search-container{
    display: block;
    padding: 25px;
    border: 1px solid rgba(0,0,0,0.12);
    position: absolute;
    top: 50px;
    left: -215px;
    background: rgba(254,254,254,0.95);
    z-index: 50;

  }

  .filesystem-search-button.enabled{
    background: #e3e3e3;
  }

  .search-filter-line{
    border-bottom: 1px solid #552d5d;
    margin-bottom: 35px;
    margin-top: 20px;
  }
}