$mat-intranet: (
        50 : #ebe6ec,
        100 : #ccc0ce,
        200 : #aa96ae,
        300 : #886c8e,
        400 : #6f4d75,
        500 : #552d5d,
        600 : #4e2855,
        700 : #44224b,
        800 : #3b1c41,
        900 : #2a1130,
        A100 : #e36eff,
        A200 : #d93bff,
        A400 : #d008ff,
        A700 : #c000ee,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

$mat-intranet-success: (
        50 : #ebf5e7,
        100 : #cee6c4,
        200 : #aed69c,
        300 : #8dc574,
        400 : #74b857,
        500 : #5cac39,
        600 : #54a533,
        700 : #4a9b2c,
        800 : #419224,
        900 : #308217,
        A100 : #c7ffb9,
        A200 : #9fff86,
        A400 : #76ff53,
        A700 : #62ff3a,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);


$mat-intranet-warn: (
        50 : #f9ece0,
        100 : #f0d0b3,
        200 : #e6b180,
        300 : #db924d,
        400 : #d47a26,
        500 : #cc6300,
        600 : #c75b00,
        700 : #c05100,
        800 : #b94700,
        900 : #ad3500,
        A100 : #ffe0d7,
        A200 : #ffb9a4,
        A400 : #ff9271,
        A700 : #ff7f58,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);